<?php

declare(strict_types=1);

namespace {{phpNamespace}}\Tests\Unit;

/**
 * ExampleTest class.
 *
 * We use the global WP_UnitTestCase from wordpress testing lib.
 *
 * @since {{version}}
 */
final class ExampleTest extends \WP_UnitTestCase {
    /**
     * Check if the wordpress users table exists so we know our database setup is correct.
     *
     * @since {{version}}
     */
    public function testUsersTableExists() {
        global $wpdb;
        $table_name = $wpdb->prefix . 'users';
        $this->assertEquals(
            $table_name,
            $wpdb->get_var($wpdb->prepare('SHOW TABLES LIKE %s', $table_name)),
        );
    }
}
