<?php

declare(strict_types=1);

namespace {{phpNamespace}}\Services;

use {{phpNamespace}}\Core\AbstractService;

defined('ABSPATH') || exit;

/**
 * ExampleService class.
 *
 * @since {{version}}
 */
final class ExampleService extends AbstractService {
}
