{
  "entry": "style.css",
  "archive": {
    "includedDist": [
      "assets",
      "build",
      "inc",
      "parts",
      "patterns",
      "templates",
      "vendor",
      "license.txt",
      "functions.php",
      "readme.txt",
      "screenshot.png",
      "style.css",
      "theme.json"
    ],
    "includedDev": [
      "assets",
      "dev-tools",
      "inc",
      "parts",
      "patterns",
      "src",
      "templates",
      ".example.env",
      ".gitignore",
      ".php-cs-fixer.dist.php",
      ".prettierignore",
      ".prettierrc",
      "composer.json",
      "dev-tools.json",
      "docker-compose.yml",
      "Dockerfile",
      "functions.php",
      "package.json",
      "README.md",
      "readme.txt",
      "screenshot.png",
      "style.css",
      "theme.json",
      "tsconfig.json",
      "webpack.config.js"
    ]
  }
}
