{
  "name": "{{slug}}",
  "version": "{{version}}",
  "description": "{{description}}",
  "license": "GPL-2.0-or-later",
  "scripts": {
{{#installTests}}
    "test": "vitest",
{{/installTests}}
    "dev": "wp-scripts start",
    "build": "wp-scripts build",
    "archive:dist": "composer install --no-dev && wp-scripts build && tsx ./dev-tools/archive && composer install",
    "archive:dev": "tsx ./dev-tools/archive dev",
    "docker:shell": "docker exec -it {{slug}}-wordpress /bin/bash",
    "docker:extract": "tsx ./dev-tools/docker/extract.ts {{slug}}-wordpress"
  },
  "devDependencies": {
{{#installTests}}
    "vitest": "^4.1.11",
{{/installTests}}   
    "@types/archiver": "^8.0.0",
    "@types/mustache": "^4.2.6",
    "@types/node": "^26.2.0",
    "@wordpress/scripts": "^34.1.0",
    "archiver": "^8.0.0",
    "browser-sync-webpack-plugin": "^2.4.0",
    "dotenv": "^17.4.2",
    "tsx": "^4.23.12",
    "typescript": "^6.0.3"
  }
}
