<?php

declare(strict_types=1);

namespace {{phpNamespace}}\Core;

defined('ABSPATH') || exit;

/**
 * Base Service class.
 *
 * External Services. Api's, Databases, ect.
 * Extend this class to create your service.
 *
 * @since {{version}}
 */
abstract class Service {
    /**
     * Construct the service attributes.
     *
     * @param Container $container The container instance
     *
     * @since {{version}}
     */
    public function __construct(
        protected Container $container,
    ) {
    }

    /**
     * Called by the Container to instantiate the class.
     *
     * @param Container $container The container instance
     *
     * @since {{version}}
     */
    abstract public static function factory(Container $container): static;

    /**
     * Register wordpress hooks, ect here.
     *
     * Override this in your extended service.
     *
     * @since {{version}}
     */
    abstract public function register(): void;
}
