<?php

declare(strict_types=1);

namespace {{phpNamespace}};

{{#isPlugin}}
use {{phpNamespace}}\Config\AppConfig;
{{/isPlugin}}
use {{phpNamespace}}\Core\AbstractController;
use {{phpNamespace}}\Core\Container;

defined('ABSPATH') || exit;

/**
 * Main application class.
 *
 * @since {{version}}
 */
final class App {
    /**
     * Setup the App attributes.
     *
     * @param Container $container The service container
     *
     * @since {{version}}
     */
    public function __construct(
        private Container $container,
    ) {
    }

    /**
     * Initializes the application.
     *
     * @since {{version}}
     */
    public function init(): static {
{{#isPlugin}}
        // Plugin activation hooks
        $root_file = AppConfig::root_file();
        register_activation_hook($root_file, [$this, 'activate']);
        register_deactivation_hook($root_file, [$this, 'deactivate']);
{{/isPlugin}}

        return $this;
    }
 
    /**
     * Registers all controllers.
     *
     * @param callable ...$factories A function that returns an instance of the controller
     *
     * @since {{version}}
     */
    public function register_controllers(callable ...$factories): static {
        foreach ($factories as $factory) {
            $instance = $factory($this->container);

            if (!$instance instanceof AbstractController) {
                $instance_name = get_debug_type($instance);
                throw new \RuntimeException("Attempt to register invalid controller '{$instance_name}'.");
            }

            $instance->register();
        }

        return $this;
    }

    /**
     * Gets the service container.
     *
     * @since {{version}}
     */
    public function container(): Container {
        return $this->container;
    }
{{#isPlugin}}

    /**
     * Plugin activation hook.
     *
     * @since {{version}}
     */
    public function activate(): void {
        flush_rewrite_rules();
    }

    /**
     * Plugin deactivation hook.
     *
     * @since {{version}}
     */
    public function deactivate(): void {
        flush_rewrite_rules();
    }
{{/isPlugin}}
}
