{
  "name": "{{slug}}",
  "version": "{{version}}",
  "description": "{{description}}",
  "license": "GPL-2.0-or-later",
  "type": "commonjs",
  "engines": {
    "node": ">=22.22.2"
  },
  "scripts": {
{{#installTests}}
    "test": "vitest",
{{/installTests}}
    "dev": "wp-scripts start",
    "build": "wp-scripts build",
    "archive:dist": "composer install --no-dev && wp-scripts build && wp-dev-tools archive --type dist && composer install",
    "archive:dev": "wp-dev-tools archive --type dev",
    "docker:shell": "docker exec -it {{slug}}-wordpress /bin/bash",
    "docker:extract": "wp-dev-tools dockerExtract --container {{slug}}-wordpress",
    "copy": "wp-dev-tools copy",
    "create:block": "wp-dev-tools createBlock"
  },
  "devDependencies": {
{{#installTests}}
    "vitest": "^4.1.11",
{{/installTests}}
    "@stevekanger/wp-dev-tools": "^{{devToolsVersion}}",
    "@types/react": "18.3.27",
    "@types/react-dom": "18.3.7",
    "@types/wordpress__block-editor": "^15.0.6",
    "@wordpress/block-editor": "^16.2.0",
    "@wordpress/components": "^39.0.0",
    "@wordpress/element": "^8.5.0",
    "@wordpress/i18n": "^6.26.0",
    "@wordpress/scripts": "^34.1.0",
    "browser-sync-webpack-plugin": "^2.4.0",
    "dotenv": "^17.4.2",
    "prettier": "^3.9.6",
    "typescript": "^6.0.3"
  },
  "overrides": {
    "react": "18.3.1",
    "react-dom": "18.3.1",
    "@types/react": "18.3.27",
    "@types/react-dom": "18.3.7"
  }
}
