{
  "$schema": "https://schemas.wp.org/trunk/block.json",
  "apiVersion": 3,
  "name": "{{namespace}}/{{slug}}",
  "version": "{{version}}",
  "textdomain": "{{textdomain}}",
  "title": "{{title}}",
  "description": "{{description}}",
  "category": "widgets",
  "icon": "smiley",
  "example": {},
  "supports": {
    "html": false
  },
  "attributes": {},
{{#isDynamicVariant}}
  "render": "file:./render.php",
{{/isDynamicVariant}}
  "editorScript": "file:./index.js",
  "editorStyle": "file:./index.css",
  "style": "file:./style-index.css",
  "viewScript": "file:./view.js"
}
