{
  "main": "{{slug}}.php",
  "files": {
    "dist": [
      "{{slug}}.php",
      "assets",
      "build",
      "inc",
      "vendor",
      "license.txt",
      "readme.txt"
    ],
    "dev": [
      "{{slug}}.php",
      "assets",
      "inc",
      "src",
      "tests",
      ".example.env",
      ".gitignore",
      ".php-cs-fixer.dist.php",
      ".prettierignore",
      ".prettierrc",
      "composer.json",
      "dev-tools.json",
      "docker-compose.yml",
      "Dockerfile",
      "license.txt",
      "package.json",
      "phpunit.xml",
      "README.md",
      "readme.txt",
      "tsconfig.json",
      "vitest.config.ts",
      "webpack.config.js"
    ]
  }
}
