<?php

declare(strict_types=1);

namespace {{phpNamespace}}\Core;

/**
 * Container for all controllers and services.
 *
 * @since {{version}}
 */
final class Container {
    private array $bindings = [];
    private array $instances = [];

    /**
     * Get all bound IDs.
     *
     * @since {{version}}
     */
    public function get_ids(): array {
        return array_keys($this->bindings);
    }

    /**
     * Bind services to the class.
     *
     * @param string $id Any string id to act as the service key
     * @param callable $factory A function that returns an instance of the Service
     *
     * @since {{version}}
     */
    public function bind(string $id, callable $factory): void {
        $this->bindings[$id] = $factory;
    }

    /**
     * Bind services to the class.
     *
     * @template T
     *
     * @param class-string<T> $id The class id
     *
     * @return T
     *
     * @since {{version}}
     */
    public function get(string $id): mixed {
        if (!isset($this->bindings[$id])) {
            throw new \RuntimeException("No container binding found for {$id}");
        }

        if (!isset($this->instances[$id])) {
            $this->instances[$id] = $this->bindings[$id]($this);
        }

        return $this->instances[$id];
    }
}
