<?php

declare(strict_types=1);

namespace {{phpNamespace}}\Core;

defined('ABSPATH') || exit;

/**
 * Base Service class.
 *
 * External Services. Api's, Databases, ect.
 * Extend this class to create your service.
 *
 * @since {{version}}
 */
abstract class Service {
    /**
     * Construct the service attributes.
     *
     * @param Container $container the service container instance
     *
     * @since {{version}}
     */
    public function __construct(
        protected Container $container,
    ) {
    }

    /**
     * Register anything you need here.
     *
     * Override this in your extended controller.
     *
     * @since {{version}}
     */
    abstract public function register(): void;
}
